/*ALL*/

*   {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body
{
    background-color: black;
    color : white;
    font-style: italic;
}

h1  {
    font-size: 40px;
    color: white;
    font-style: normal;;

} 

p   {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}


a   {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

td{
    border:2px solid;
    color : black;
    
}

tr  {
    border:2px solid;
    color : black;
    margin-bottom: 20px;
    
}

.nav_bas   {
    text-align: center;
    align-content: center;
    font-style: italic;
    margin-bottom: 250px;
    background-color: black;
    padding-bottom: 200px;
    padding-top: 100px;
    margin-bottom: -20px;
    font-size: 40px;
    margin-top: 1000px;

}


.elementTransBas  {
    opacity: 1;
    transition: opacity .3s;
}

.elementTransBas a:hover {
    opacity: .5;
}

.test   {
    margin-top: 10px;
    margin-bottom: 10px;

}

table   {
    margin-bottom: 200px;
    margin-left: 200px;
}

/*END_ALL*/

/* INDEX*/
    
#fond   {
    background-image: url("img/telecharge.jpg");
    width:auto;
}

#imageCentrale  {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


#pic    {
    position: relative;
    bottom: 450px;
}

.button     {
    width:30px;
    height:30px;
    position: fixed;
    left: 95%;
    bottom: 90%;
    cursor: pointer;

}

.button span    {
    height:3px;
    background-color: white;
    width:30px;
    position: absolute;
    top:20px;
    left:0;
}

.button span:before {
    content:'';
    height:3px;
    background-color: white;
    width:30px;
    position: absolute;
    top:-10px;
    left:0;
}

.button span:after{
    content:'';
    height:3px;
    background-color: white;
    width:100%;
    position: absolute;
    top:10px;
    left:0;
}




.menu   {
    height:1000px;
    width:200px;
    background-color: greenyellow;
}

.menu   a{
    color:grey;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    display:block;
    padding-top: 30px;
    text-align: center;
}

.menu   a:hover{
    color:white;
}


.nav {
    float: right;
    position: absolute;
    left:86.8%;
    display:none;
    transition-duration: 0.8s;
    top:0;
}

.nav_open   {
    position: fixed;
    top:0;
    display:block;
    transition-duration: 0.8s;
}

.croixButton    {
    position: relative;
    top:50px;
    left:63%;
    width:30px;
    height:30px;
    cursor: pointer;
    margin-bottom: 50px;
}


.men_central   {
    margin-top: 30px;
    text-align:center;
    font-size: 50px;
    margin-bottom: 30px;
    width:850px;
    margin-left: auto;
    margin-right: auto;

}

.men_central a:hover{
    color:black;
}

#space  {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px palevioletred solid;
    padding: 20px 40px;
}

.page1  {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.page1 p {
    font-size: 20px;
    text-align: right;
}

#back   {
    background-image: url("img/Lidith.jpg");
    height: 630px;
    width: 1200px;
    background-size: cover;
    position:relative;
    border: 1px solid #c0392b;

}

.h1_acceuil  {
    color:white;
}


#need_it {
    position: absolute;
    top: 50px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: right;
}

#img2   {
    background-image: url("img/diablo-4-sorciere.jpg");
    height: 630px;
    width :1200px;
    position: relative;
    border: 1px solid #c0392b;

}

#need_it2 {
    position:relative;
    bottom: -400px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: right;
}

#img3   {
    background-image: url("img/druide.jpeg");
    width: 1200px;
    height: 630px;
    margin-bottom: 600px;
    position: relative;
    border: 1px solid #c0392b;

}


/*END_INDEX*/


/*DOWNLOAD*/

#no_space   {
    margin-bottom: 0px;
    color: white;
}


#ecriture   {
    text-align: center;
    font-size: 20px;
}

#ALED   {
    font-size: 50px;
    border:none;
    letter-spacing:  10px;
    opacity: 1;
}

#downButton {
    position: relative;
    top: 500px;
}

#downButton p   {
    width:500px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    font-size: 50px;
    letter-spacing: 10px;
    border: white 5px solid;
    margin-left: 500px;

}

/*END_DOWNLOAD*/


/*NEWS*/


#h1_news    {
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 200px;

}

.size   {
    font-size: 23px;
    color:white;
}

#news   p   {
    text-align:center;
    width:calc(100%-40px);
    margin-left: auto;
    margin-right: auto;
    max-width:1000px;

}

#news   h1  {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*END_NEWS*/

/* NEWS1 */
#protoGame  {
    margin-left: 225px;
    margin-bottom: 250px;
}

#protoChar  {
    margin-left: 400px;
    margin-bottom: 200px;
}

#protoActus {
    width: 1000px;
    margin-left: 225px;
    margin-bottom: 200px;
}

#protoModeles   {
    width:600px;
    margin-bottom: 200px;
    margin-left: 100px;
}
/* END_NEWS1 */


/*GALLERIE*/

#galerieh1   {
    margin-bottom: 500px;
}
.gal1    {
    background-image: url("img/diablo-4-sorciere.jpg");
    width: 1000px;
    height :500px;
    position: relative;
    left:250px;
    border:5px grey solid;
}
.gal2    {
    background-image: url("img/druide.jpeg");
    width: 1000px;
    height :500px;
    position: relative;
    left:250px;
    border:5px grey solid;
}


.gal3    {
    background-image: url("img/Lidith.jpg");
    width: 1000px;
    height :500px;
    position: relative;
    left:250px;
    border:5px grey solid;
}

.gal4   {
    background-image: url("img/epilovers.png");
    width: 1000px;
    height :500px;
    position: relative;
    left:250px;
    border:5px grey solid;
}
.element1 {
    position: absolute;
    top: 120%;
    left: -15%;
    cursor: pointer;

}

.elementTrans img  {
    opacity: 1;
    transition: opacity .3s;
}
.elementTrans img:hover{
    opacity: .5;
}

.element2   {
    position: absolute;
    top: 120%;
    left:5%;
    cursor: pointer;

}
.element3   {
    position: absolute;
    top: 120%;
    left:25%;
    cursor: pointer;
}
.element4   {
    position: absolute;
    top: 120%;
    left:45%;
    cursor: pointer;
}

.element5   {
    position: absolute;
    top: 120%;
    left:65%;
    cursor: pointer;
}
.element6   {
    position: absolute;
    top: 120%;
    left:85%;
    cursor: pointer;
}
.element7   {
    position: absolute;
    top: 120%;
    left:105%;
    cursor: pointer;
}
.element8   {
    position: absolute;
    left:125%;
    top: 120%;
    cursor: pointer;
}

.element9   {
    position: absolute;
    top: 120%;
    left:85%;
    cursor: pointer;
}
.element10   {
    position: relative;
    top: 120%;
    right:45%;
    cursor: pointer;
}
.backGal    {
    position: relative;
    top:160%;
    background-color: red;
    padding: 40px 40px;
}


.galButton {
    top:45%;
    left:100%;
    position: absolute;
    cursor: pointer;
    background-color: yellow;
}
.galButton img  {
    width: 50px;
    height:30px;
    opacity:1;
    transition: opacity .3s;
}
.galButton img:hover    {
    opacity: 0.5;
}

.galButton2 {
    top:45%;
    right:100%;
    position: absolute;
    cursor: pointer;
    background-color: yellow;

}
.galButton2 img  {
    width: 50px;
    height:30px;
    opacity:1;
    transition: opacity .3s;
}

.galButton2 img:hover    {
    opacity: 0.5;
}

#bigH2  {
    font-size: 40px;
    text-align: center;
}
.colorBack {
    background-image: url("img/green.jpg");
    width:100%;
    height:150px;
    top:154%;
    position:absolute;
}

#clickable  {
    top:80%;
}

/*END_GALLERIE*/



/*TEST_NEWS*/





/*END_TEST_NEWS*/
























 









